<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>재고관리</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/css/responsive.css" />
      <!-- color css -->
      <!-- <link rel="stylesheet" href="/css/color_2.css" />  -->
      <link rel="stylesheet" href="/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
            
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  	  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  	  
  	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  	  
    
   	  <style>
   	    #modalOpenButtonAdd, #modalCloseButtonAdd, #modalCloseButtonUpdate {
		  cursor: pointer;
		}
		
		#modalContainerAdd, #modalContainerUpdate {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background: rgba(0, 0, 0, 0.5);
		}
		
		#modalContent {
		  position: absolute;
		  background-color: #ffffff;
		  width: 1000px;
		  height: 500px;
		  padding: 30px 50px;
		}
		
		#modalContainerAdd.hidden, #modalContainerUpdate.hidden {
		  display: none;
		}
   	  
   	  </style>
   
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <head th:include="fragments/sidebar :: sidebar"></head>
            <!-- right content -->
            <div id="content">
            	<head th:include="fragments/topbar :: topbar"></head>


			<!-- 메인 내용 -->
                 <div class="main p-5">
		      <h6>
		         <strong>재고 목록</strong>
		      </h6>
		      <form action="/admin/stock/list" method="post">
		         <table class="table table-bordered">
		            <tr>
		               <th>검색어</th>
		               <td>
		               		<select name="searchType">
			                     <option value="0">상품명</option>
			                     <option value="1">상품코드</option>
		               		</select> 
		               		<input type="text" name="keyword" placeholder="검색어 입력">
		               </td>
		            </tr>
         		</table>
		         <div style="text-align: right;">
		            <button type="submit" class="btn btn-primary btn-sm"
		               style="width: 70px; border-radius: 8px;">검색</button>
		            <button type="reset" class="btn btn-secondary btn-sm"
		               style="width: 70px; border-radius: 8px;">초기화</button>
		         </div>
      		</form>
      
      <hr style="color: black">

      <div class="wrapper mt-5" id="productListContainer">
	      	<div style="margin: 10px; text-align: right;">
	      		<button type="button" class="btn cur-p btn-success" th:onclick="stockAdd();">상품등록</button>
	      	</div>
      
         <table class="table product-list-table">
            <thead>
               <tr>
                  <th class="table-light text-center">No</th>
                  <th class="table-light text-center">상품코드</th>
                  <th class="table-light text-center">상품명  </th>
                  <th class="table-light text-center">단가</th>
                  <th class="table-light text-center">남은수량</th>
                  <th class="table-light text-center">관리</th>
               </tr>
            </thead>
            <tbody>
            	<th::block th:each="list: ${list}">
					     <tr>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.stock_id}]]</td>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.stock_productid}]]</td>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.product_name}]]</td> 
	                         
	                         <td style="text-align: center; vertical-align: middle;">
  	                         <div data-th-text="${#numbers.formatInteger(list.product_price, 3, 'COMMA') + '원'}"></div>
  	                         </td>

	                         <td style="text-align: center; vertical-align: middle;">
	                         
	                         <!-- 수량 설정/변경 -->
	                         <form action="admin/stock/amount" method="get">
		                         <button type="button" th:onclick="amountMinus([[${list.stock_id}]]);" style="border: 0; background-color: transparent;">
								    <img style="width: 20px; height: 20px; padding: 0 0 0 0;" src="/images/minus.png" alt="minus">
								</button>
								<input th:value="${list.stock_remain}" name="stock_amount" th:id="'stock_amount_' + ${list.stock_id}" />
								<button type="button" th:onclick="amountPlus([[${list.stock_id}]]);" style="border: 0; background-color: transparent;">
								    <img style="width: 20px; height: 20px; padding: 0 0 0 0;" src="/images/plus.png" alt="plus">
								</button>
	                         </form>
	                         
	                         </td>
	                         <td style="text-align: center;">
		                         <button type="button" class="btn cur-p btn-outline-primary" th:onclick="amountUpdate([[${list.stock_id}]])">재고변경</button>
		                         <button type="button" class="btn cur-p btn-outline-primary" th:onclick="stockUpdate([[${list.stock_productid}]])">상품수정</button>
	                         </td>
	                      </tr>
				</th:block>
            </tbody>
         </table>
         <br>
         <div></div>
         <br>
      </div>
       <c:set var="basePath" value="${not empty searchKeyword or not empty searchType or not empty startDate or not empty endDate ? 'searchProduct' : 'catdog-product-list-admin'}" />


		 <!-- 상품등록 모달 -->
		 <div id="modalContainerAdd" class="hidden">
		  	<div id="modalContent">
		  
				  	<div style="margin: 10px; text-align: right; float: center;">
				  		<a id="modalCloseButtonAdd" style="text-align: right; margin: 0 0 0 0;"><img style="width: 20px; height: 20px;" src="/images/close.png" alt=""></a>
				  	</div>
				  	
				  	<div style="margin: 10px; text-align: center; float: center;">
				  		<div>
					  		<h4 style="text-align: center;">상품등록</h4>
				  		</div>
				  	</div>
		    		
		    		<form action="/admin/stock/product/add" method="post">
			    		<table class="table table-bordered">
				            <tr>
				               <th>거래처 명</th>
	   			               <td><input id="product_partnerid" name="product_partnerid" type="text"/></td>
				            </tr>
				            <tr>
				               <th>상품명</th>
	   			               <td><input id="product_name" name="product_name" type="text"/></td>
				            </tr>
				            <tr>
				               <th>상품단가</th>
	   			               <td><input id="product_price" name="product_price" type="text"/></td>
				            </tr>
				            <tr>
				               <th>상품코드 </th>
	   			               <td><input id="product_id" name="product_id" type="text"/></td>
				            </tr>
			            </table>
		
						<div style="margin: 0 30px 0 0; text-align: center;">
							<div>
								<button type="reset" class="btn cur-p btn-danger">초기화</button>
								<button type="submit" class="btn cur-p btn-success">저장</button>
							</div>
						</div>
		    		
		    		</form>
		    
		  	</div>
		</div>
		<!-- 모달 끝 -->
		
	     <!-- 상품수정 모달 -->
		 <div id="modalContainerUpdate" class="hidden">
		  	<div id="modalContent">
		  
				  	<div style="margin: 10px; text-align: right; float: center;">
				  		<a id="modalCloseButtonUpdate" style="text-align: right; margin: 0 0 0 0;"><img style="width: 20px; height: 20px;" src="/images/close.png" alt=""></a>
				  	</div>
				  	
				  	<div style="margin: 10px; text-align: center; float: center;">
				  		<div>
					  		<h4 style="text-align: center;">상품수정</h4>
				  		</div>
				  	</div>
				  	
				  	<div style="margin: 10px; text-align: right; float: right;">
				  		<div>
				  			<form action="/admin/stock/delete" method="get">
				  				<input id="delete_product_id" name="product_id" type="hidden"/>
				  				<button class="btn cur-p btn-danger" type="submit">상품삭제</button>
				  			</form>
				  		</div>
				  	</div>
		    
		    		<form action="/admin/stock/update" method="post">
			    		<table class="table table-bordered">
				            <tr>
				               <th>거래처 명</th>
	   			               <td><input id="up_product_partnerid" name="product_partnerid" type="text" readonly/></td>
				            </tr>
				            <tr>
				               <th>상품명</th>
	   			               <td><input id="up_product_name" name="product_name" type="text"/></td>
				            </tr>
				            <tr>
				               <th>상품단가</th>
	   			               <td><input id="up_product_price" name="product_price" type="text"/></td>
				            </tr>
				            <tr>
				               <th>상품코드 </th>
	   			               <td><input id="up_product_id" name="product_id" type="text" readonly/></td>
				            </tr>  
			            </table>

						<div style="margin: 0 30px 0 0; text-align: center;">
							<div>
								<button type="reset" class="btn cur-p btn-danger">초기화</button>
								<button type="submit" class="btn cur-p btn-success">저장</button>
							</div>
						</div>
		    		
		    		</form>
		  	</div>
		</div>
		<!-- 모달 끝 -->
		
		
		
		
		<!-- 
		<div class="pagination-container">
		    <div class="pagination">
		        <c:if test="${startPage > 1}">
		            <a href="${basePath}?pageNum=${startPage - 1}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}">&lt;</a>
		        </c:if>
		        <c:forEach begin="${startPage}" end="${endPage}" var="page">
		            <a href="${basePath}?pageNum=${page}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}"
		               class="${currentPage == page ? 'active' : ''}">${page}</a>
		        </c:forEach>
		        <c:if test="${endPage < totalPage}">
		            <a href="${basePath}?pageNum=${endPage + 1}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}">&gt;</a>
		        </c:if>
		    </div>
		</div>
		 -->
		
		
   </div>
               
   <!-- 메인 내용 END -->
              
            </div>
         </div>
      </div>
      
      
      <script>
      	  //본사 상품 재고 수정
	      function stockUpdate(stock_productid) {	
					//수정 시 정보 조회	    	
		    	    $.ajax({
		    	        url: '/admin/stock/update',
		    	        method: 'GET',
		    	        data: {stock_productid: stock_productid},
		    	        success: function(result) {
		    	            if (result) {
		    	        	    document.getElementById("up_product_id").value = result.product_id;
		    	        	    document.getElementById("up_product_partnerid").value = result.product_partnerid;
		    	        	    document.getElementById("up_product_name").value = result.product_name;
		    	        	    document.getElementById("up_product_price").value = result.product_price;
		    	        	    
		    	        	    document.getElementById("delete_product_id").value = result.product_id;
		    	        	    
		    	        	    const modal = document.getElementById('modalContainerUpdate');
		    			  	    modal.classList.remove('hidden');
		    	            } else {
		    	                alert("데이터 응답 실패");
		    	            }
		    	        },
		    	        error: function(xhr, status, error) {
		    	            alert("Ajax 요청 실패");
		    	        }
		    	    });
	    	}
      </script>
      
      <script>
	      //본사 상품 등록
	      function stockAdd() {
	    	  const modal = document.getElementById('modalContainerAdd');
		  	    modal.classList.remove('hidden');
	      }
      </script>
      
      <script>
	      //본사 상품 삭제
	      function productDelete() {
	    	    $.ajax({
	    	        url: '/admin/stock/delete',
	    	        method: 'GET',
	    	        data: {stock_productid: stock_productid},
	    	        success: function(result) {
	    	            if (result) {
	    	        	    document.getElementById("up_product_id").value = result.product_id;
	    	        	    document.getElementById("up_product_partnerid").value = result.product_partnerid;
	    	        	    document.getElementById("up_product_name").value = result.product_name;
	    	        	    document.getElementById("up_product_price").value = result.product_price;
	    	        	    
	    	        	    const modal = document.getElementById('modalContainerUpdate');
	    			  	    modal.classList.remove('hidden');
	    	            } else {
	    	                alert("데이터 응답 실패");
	    	            }
	    	        },
	    	        error: function(xhr, status, error) {
	    	            alert("Ajax 요청 실패");
	    	        }
	    	    });
	      }
      </script>
      
      <script>
	      //수량 감소
	      function amountMinus(stock_id) {
	    	  const stock_amount = document.getElementById("stock_amount_"+stock_id);
	  		if (stock_amount.value > 1) {
		    	  stock_amount.value--;
			}
	      }
	      
	      //수량 추가
	      function amountPlus(stock_id) {
	    	  const stock_amount = document.getElementById("stock_amount_"+stock_id);
	    	  stock_amount.value++;
	      }
	      
	      //재고 변경
	      function amountUpdate(stock_id) {
	    	  const stock_remain = document.getElementById("stock_amount_"+stock_id).value;
	    	  
	    	    $.ajax({
	    	        url: '/admin/stock/amount',
	    	        method: 'GET',
	    	        data: {stock_id, stock_remain: stock_id, stock_remain},
	    	        success: function(result) {
	    	        	alert("재고가 변경되었습니다.");
	    	        },
	    	        error: function(xhr, status, error) {
	    	            alert("재고 변경 실패");
	    	        }
	    	    });
	      }
      </script>
      
      
      
      <script>
	      const modalCloseButtonAdd = document.getElementById('modalCloseButtonAdd');
	      const modalAdd = document.getElementById('modalContainerAdd');
	
	      modalCloseButtonAdd.addEventListener('click', () => {
	    	  modalAdd.classList.add('hidden');
	      });
	      
	      const modalCloseButtonUpdate = document.getElementById('modalCloseButtonUpdate');
	      const modalUpdate = document.getElementById('modalContainerUpdate');
	      
	      modalCloseButtonUpdate.addEventListener('click', () => {
	    	  modalUpdate.classList.add('hidden');
	      });
	      
	       window.addEventListener('click', (event) => {
	           if (event.target === modalAdd) { // 클릭된 요소가 모달 배경인지 확인
	           	modalAdd.classList.add('hidden');
	           } else if (event.target === modalUpdate) {
	           	modalUpdate.classList.add('hidden');
	           }
	       });
	      
      </script>
      
      
      
       
      
      <!-- jQuery -->
      <!-- <script src="/js/jquery.min.js"></script>  -->
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/js/animate.js"></script>
      <!-- select country -->
      <script src="/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="/js/Chart.min.js"></script>
      <script src="/js/Chart.bundle.min.js"></script>
      <script src="/js/utils.js"></script>
      <script src="/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/js/chart_custom_style1.js"></script>
      <script src="/js/custom.js"></script>
   </body>
</html>