<!DOCTYPE html >
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>재고관리</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/css/responsive.css" />
      <!-- color css -->
      <!-- <link rel="stylesheet" href="/css/color_2.css" />  -->
      <link rel="stylesheet" href="/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
            
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  	  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  	  
  	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  	  
    
   	  <style>
   	    html, body {
    		font-family: 'Poppins', 'Noto Sans KR', sans-serif !important;
		}
   	  
   	    #modalOpenButtonAdd, #modalCloseButtonAdd, #modalCloseButtonUpdate {
		  cursor: pointer;
		}
		
		#modalContainerAdd, #modalContainerUpdate {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background: rgba(0, 0, 0, 0.5);
		}
		
		#modalContainerPartner {
		  width: 100%;
		  height: 100%;
		  position: fixed;
		  top: 0;
		  left: 0;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}
		
		
		
		#modalContent {
		  position: absolute;
		  background-color: #ffffff;
		  width: 900px;
		  height: 700px;
		  border-radius: 10px;
		}
		
		#modalContainerAdd.hidden, #modalContainerUpdate.hidden, modalContainerPartner.hidden {
		  display: none;
		}
		
		.table-bordered th {
			text-align: center; 
			vertical-align: middle;
		}
		
   	  
   	  </style>
   
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <head th:include="fragments/sidebar :: sidebar"></head>
            <!-- right content -->
            <div id="content">
            	<head th:include="fragments/topbar :: topbar"></head>

		        <div class="page_title" style="margin-bottom: 0px;">
                   <h2 style="margin-bottom: 0px;">재고관리</h2>
                </div>

			<!-- 메인 내용 -->
              <div class="main p-5">

		      <form action="/admin/stock/list" method="post">
		         <table class="table table-bordered">
		            <tr>
		               <td class="table-light text-center" style="text-align: center; vertical-align: middle;">검색어</td>
		               <td>
		               		<select name="searchType" class="form-select" style="width: 100px; display: inline-block;">
			                     <option value="0">상품명</option>
			                     <option value="1">상품코드</option>
		               		</select> 
		               		<input type="text" name="keyword" class="form-control" style="width: 300px; display: inline-block;" placeholder="검색어 입력">
		               </td>
		            </tr>
         		</table>
		         <div style="text-align: right;">
		            <button type="submit" class="btn btn-primary btn-sm"
		               style="width: 70px; border-radius: 8px;">검색</button>
		            <button type="reset" class="btn btn-secondary btn-sm"
		               style="width: 70px; border-radius: 8px;">초기화</button>
		         </div>
      		</form>
      
      <hr style="color: black">

      <div class="wrapper mt-5" id="productListContainer">
	      	<div style="margin: 10px; text-align: right;">
	      		<button type="button" class="btn cur-p" style="background-color: #04AA6D; color: white;" th:onclick="stockAddFirst();">상품등록</button>
	      	</div>
      
         <table class="table product-list-table">
            <thead>
               <tr>
                  <th class="table-light text-center">No</th>
                  <th class="table-light text-center">상품코드</th>
                  <th class="table-light text-center">상품명  </th>
                  <th class="table-light text-center">단가</th>
                  <th class="table-light text-center">남은수량</th>
                  <th class="table-light text-center">관리</th>
               </tr>
            </thead>
            <tbody>
            	<th::block th:each="list: ${list}">
					     <tr>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.stock_id}]]</td>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.stock_productid}]]</td>
	                         <td style="text-align: center; vertical-align: middle;">[[${list.product_name}]]</td> 
	                         
	                         <td style="text-align: center; vertical-align: middle;">
  	                         <div data-th-text="${#numbers.formatInteger(list.product_price, 3, 'COMMA') + '원'}"></div>
  	                         </td>

	                         <td style="text-align: center; vertical-align: middle;">
	                         
	                         <!-- 수량 설정/변경 -->
	                         <form action="admin/stock/amount" method="get">
		                         <button type="button" th:onclick="amountMinus([[${list.stock_id}]]);" style="border: 0; background-color: transparent;">
								    <img style="width: 20px; height: 20px; padding: 0 0 0 0;" src="/images/minus.png" alt="minus">
								</button>
								<input th:value="${list.stock_remain}" class="form-control" style="width: 100px; display: inline-block; text-align: center;" name="stock_amount" th:id="'stock_amount_' + ${list.stock_id}" />
								<button type="button" th:onclick="amountPlus([[${list.stock_id}]]);" style="border: 0; background-color: transparent;">
								    <img style="width: 20px; height: 20px; padding: 0 0 0 0;" src="/images/plus.png" alt="plus">
								</button>
	                         </form>
	                         
	                         </td>
	                         <td style="text-align: center;">
		                         <button type="button" class="btn cur-p" style="background-color: #558bcf; color: white;" th:onclick="amountUpdate([[${list.stock_id}]])">재고변경</button>
		                         <button type="button" class="btn cur-p" style="background-color: #9D3CC3; color: white;" th:onclick="stockUpdate([[${list.stock_productid}]])">상품수정</button>
	                         </td>
	                      </tr>
				</th:block>
            </tbody>
         </table>
         <br>
         <div></div>
         <br>
      </div>
      
		<!-- 페이징 -->			
			<nav aria-label="Page navigation example" style="text-align: center; vertical-align: middle;">
  				<ul class="pagination justify-content-center">
			    <li class="page-item">
			    	<a class="page-link" th:if="${currentPage > 1}" 
				       th:href="@{/admin/stock/list(pageNum=${currentPage - 1}, pageSize=${pageSize})}">
				        &lt;
				    </a>
				    <a class="page-link" th:if="${currentPage <= 1}" 
				       href="#" tabindex="-1" aria-disabled="true">
				        &lt;
				    </a>
				 </li>
			    <li class="page-item">				    
			   		<a class="page-link" style="display: inline-block;" th:each="page : ${#numbers.sequence(startPage ?: 1, endPage ?: 1)}" 
				       th:href="@{/admin/stock/list(pageNum=${page}, pageSize=${pageSize})}" 
				       th:classappend="${currentPage == page} ? 'active' : ''" 
				       th:text="${page}">
				    </a>
				</li>
			    <li class="page-item">
			    	<a class="page-link" th:if="${currentPage < totalPage}" 
				       th:href="@{/admin/stock/list(pageNum=${currentPage + 1}, pageSize=${pageSize})}">
				        &gt;
				    </a>
				    <a class="page-link" th:if="${currentPage >= totalPage}" 
				       href="#" tabindex="-1" aria-disabled="true">
				        &gt;
				    </a>
				</li>
			  </ul>
			</nav>

		 <!-- 상품등록 모달 -->
		 <div id="modalContainerAdd" class="hidden">
		  	<div id="modalContent">
		  
				<div style="background-color: #04AA6D; border-radius: 10px 10px 0 0; padding: 15px; text-align: left; float: center;">
			  		<h4 style="text-align: left; display: inline-block; margin: 0 0 0 10px; width: 95%; color: white; font-size: 15px;">상품 등록</h4>
			  		<button type="button" id="modalCloseButtonAdd" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: rgb(192, 192, 192); font-weight: bold; text-align: right;"></button>
			  	</div>
			  	
		    	<div style="padding: 30px;">
		    		
		    		<form action="/admin/stock/product/add" method="post" enctype="multipart/form-data" name="product_add_form" id="product_add_form" th:onsubmit="return check();">
			    		<table class="table table-bordered">
				            <tr>
				               <th>거래처 명</th>
	   			               <td>
		   			               <input id="product_partner_name" style="width: 90%; display: inline-block;" class="form-control" type="text" readonly required/>
		   			               <input id="product_partnerid" style="display: inline-block;" name="product_partnerid" class="form-control" type="hidden"/>
		   			                <button type="button" class="btn btn-secondary" th:onclick="partnerSearch();">
									   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
										  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
									   </svg>
									</button>	   			               
							   </td>
				            </tr>
				            <tr>
				               <th>상품명</th>
	   			               <td><input id="product_name" name="product_name" class="form-control" type="text" required/></td>
				            </tr>
				            <tr>
				               <th >상품단가</th>
	   			               <td><input id="product_price" name="product_price" class="form-control" type="text" required/></td>
				            </tr>
				            <tr>
				               <th>상품코드 <span style="color: red;">*영문자/숫자포함</span></th>
	   			               <td>
	   			               <input id="product_id" style="width: 83%; display: inline-block;" name="product_id" class="form-control" type="text" required/>
	   			               <input type="hidden" id="reid" name="reid" value="false">
	   			               <button type="button" class="btn cur-p btn-outline-primary" th:onclick="productCheck();">중복체크</button>
	   			               </td>
				            </tr>
				            <tr>
				            	<th>이미지 업로드</th>
				            	<td>
									<input style="height: 33px; padding-left: 12px;" class="form-control" type="file" id="formFile" name="files" required>
				            	</td>
				            </tr>
			            </table>
		
						<div style="margin: 0 30px 0 0; text-align: center;">
							<div>
								<button type="reset" class="btn cur-p btn-danger">초기화</button>
								<button type="submit" class="btn cur-p btn-success">저장</button>
							</div>
						</div>
		    		</form>
		        </div>
		    
		  	</div>
		</div>
		<!-- 모달 끝 -->
		
	     <!-- 상품수정 모달 -->
		 <div id="modalContainerUpdate" class="hidden">
		  	<div id="modalContent">
		  	
		  		<div style="background-color: #9D3CC3; border-radius: 10px 10px 0 0; padding: 15px; text-align: left; float: center;">
			  		<h4 style="text-align: left; display: inline-block; margin: 0 0 0 10px; width: 95%; color: white; font-size: 15px;">상품 수정</h4>
			  		<button type="button" id="modalCloseButtonUpdate" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: rgb(192, 192, 192); font-weight: bold; text-align: right;"></button>
			  	</div>
			  	
		    	<div style="padding: 30px;">
				  	
				  	<div style="margin: 10px; text-align: right; float: right;">
				  		<div>
				  			<form action="/admin/stock/delete" method="get">
				  				<input id="delete_product_id" name="product_id" type="hidden"/>
				  				<button class="btn cur-p btn-danger" type="submit">상품삭제</button>
				  			</form>
				  		</div>
				  	</div>
		    
		    		<form action="/admin/stock/update" method="post" enctype="multipart/form-data" id="update" th:onsubmit="return upCheck();">
			    		<table class="table table-bordered">
				            <tr>
				               <th>거래처 명</th>
	   			               <td>
	   			               	   <input id="up_product_partner_name" style="width: 100%; display: inline-block;" class="form-control" type="text" readonly required/>
		   			               <input id="up_product_partnerid" style="display: inline-block;" name="product_partnerid" class="form-control" type="hidden"/>
	   			               </td>
				            </tr>
				            <tr>
				               <th>상품명</th>
	   			               <td><input id="up_product_name" name="product_name" class="form-control" type="text" required/></td>
				            </tr>
				            <tr>
				               <th>상품단가</th>
	   			               <td><input id="up_product_price" name="product_price" class="form-control" type="text" required/></td>
				            </tr>
				            <tr>
				               <th>상품코드 </th>
	   			               <td><input id="up_product_id" name="product_id" class="form-control" type="text" readonly/></td>
				            </tr>  
				            <tr>
				            	<th>기존 이미지</th>
				            	<td>
				            		<input style="height: 35px; padding-left: 12px; margin: 0 0 10px 0;" class="form-control" type="text" id="up_product_image1" readonly>
									<div id="image_box"></div>
				            	</td>
				            </tr>
				            <tr>
				            	<th>이미지 수정</th>
				            	<td>
									<input style="height: 33px;" class="form-control" type="file" id="up_product_image2" name="files">
				            	</td>
				            </tr>
			            </table>

						<div style="margin: 0 30px 0 0; text-align: center;">
							<div>
								<button type="reset" class="btn cur-p btn-danger">초기화</button>
								<button type="submit" class="btn cur-p btn-success">저장</button>
							</div>
						</div>
		    		</form>
		         </div>
		  	</div>
		</div>
		<!-- 모달 끝 -->
		
		<!-- 거래처 검색 모달 -->
		 <div id="modalContainerPartner" class="hidden">
		  	<div id="modalContent">
		  	
		  		<div style="background-color: #0D6EFD; border-radius: 10px 10px 0 0; padding: 15px; text-align: left; float: center;">
			  		<h4 style="text-align: left; display: inline-block; margin: 0 0 0 10px; width: 95%; color: white; font-size: 15px;">거래처 검색</h4>
			  		<button type="button" id="modalCloseButtonPartner" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: rgb(192, 192, 192); font-weight: bold; text-align: right;"></button>
			  	</div>
			  	
		    	<div style="padding: 30px;">
				  	
				         <table class="table table-bordered">
				            <tr>
				               <th>거래처이름</th>
				               <td>
				               		<input type="text" onkeypress="partnerSearch()" name="partner_keyword" id="partner_keyword" class="form-control" style="width: 100%; display: inline-block;" placeholder="검색어 입력">
				               </td>
				            </tr>
		         		</table>
				         <div style="text-align: right;">
				            <button class="btn btn-primary btn-sm"
				               style="width: 70px; border-radius: 8px;" th:onclick="partnerSearch()">검색</button>
				         </div>
      
      					<hr style="color: black">

					      <div class="wrapper mt-5" id="partnerListContainer">
					
					         <table class="table product-list-table">
					            <thead>
					               <tr>
					                  <th class="table-light text-center">거래처ID</th>
					                  <th class="table-light text-center">회사명</th>
					                  <th class="table-light text-center">담당자</th>
					                  <th class="table-light text-center">연락처</th>
					                  <th class="table-light text-center">사업자등록번호</th>
					                  <th class="table-light text-center"></th>
					               </tr>
					            </thead>
					            <tbody id="partnerList">
	
					            </tbody>
					         </table>
					      </div>
				      
				      </div>
      
      
      
		  	</div>
		</div>
		<!-- 모달 끝 -->
		
		
		
		
		<!-- 
		<div class="pagination-container">
		    <div class="pagination">
		        <c:if test="${startPage > 1}">
		            <a href="${basePath}?pageNum=${startPage - 1}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}">&lt;</a>
		        </c:if>
		        <c:forEach begin="${startPage}" end="${endPage}" var="page">
		            <a href="${basePath}?pageNum=${page}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}"
		               class="${currentPage == page ? 'active' : ''}">${page}</a>
		        </c:forEach>
		        <c:if test="${endPage < totalPage}">
		            <a href="${basePath}?pageNum=${endPage + 1}&pageListNum=${pageListNum}&searchType=${searchType}&searchKeyword=${searchKeyword}&startDate=${startDate}&endDate=${endDate}">&gt;</a>
		        </c:if>
		    </div>
		</div>
		 -->
		
		
   </div>
               
   <!-- 메인 내용 END -->
              
            </div>
         </div>
      </div>
      
      
      <script>
      	  //본사 상품 재고 수정
	      function stockUpdate(stock_productid) {	
					//수정 시 정보 조회	    	
		    	    $.ajax({
		    	        url: '/admin/stock/update',
		    	        method: 'GET',
		    	        data: {stock_productid: stock_productid},
		    	        success: function(result) {
		    	            if (result) {
		    	        	    document.getElementById("up_product_id").value = result.product_id;
		    	        	    document.getElementById("up_product_partnerid").value = result.product_partnerid;
		    	        	    document.getElementById("up_product_partner_name").value = result.partner_name;
		    	        	    document.getElementById("up_product_name").value = result.product_name;
		    	        	    document.getElementById("up_product_price").value = result.product_price;
		    	        	    document.getElementById("up_product_image1").value = result.product_image;
	
		    	        	    document.getElementById("delete_product_id").value = result.product_id;
		    	        	    
		    	        	    //이미지 띄우기
	    	                    const image_box = document.getElementById("image_box");
	    	                    image_box.innerHTML = '<img style="width: 100px; height: 100px;" src="/display?filename=' + result.product_image + '">';
		    	        	    
		    	        	    const modal = document.getElementById('modalContainerUpdate');
		    			  	    modal.classList.remove('hidden');
		    	            } else {
		    	                alert("데이터 응답 실패");
		    	            }
		    	        },
		    	        error: function(xhr, status, error) {
		    	            alert("Ajax 요청 실패");
		    	        }
		    	    });
	    	}
      </script>
      
      <script>
      	  //거래처 검색 창
	      function partnerSearch() {
	    	  var partner_keyword = document.getElementById("partner_keyword").value;

		    	    $.ajax({
		    	        url: '/admin/stock/partner',
		    	        method: 'GET',
		    	        data: {keyword: partner_keyword},
		    	        success: function(result) {
		    	            if (result) {
		    	            	
		    	            	const tbody = document.querySelector('#partnerListContainer tbody');
		    	                tbody.innerHTML = ''; // 기존 데이터를 초기화

		    	                // 리스트를 순회하며 테이블 행 생성
		    	                result.forEach((detail) => {
		    	                    const tr = document.createElement('tr');
		
		    	                    tr.innerHTML = `
		    	                        <td style="text-align: center; vertical-align: middle;">${detail.partner_id}</td>
		    	                        <td style="text-align: center; vertical-align: middle;">${detail.partner_name}</td>
		    	                        <td style="text-align: center; vertical-align: middle;">${detail.partner_manager}</td>
		    	                        <td style="text-align: center; vertical-align: middle;">${detail.partner_no}</td>
		    	                        <td style="text-align: center; vertical-align: middle;">${detail.partner_phone}</td>
		    	                        <td style="text-align: center; vertical-align: middle;"><button class="btn cur-p"
		    					               style="width: 70px; border-radius: 8px; color: white; background-color: #04AA6D;" onclick="stockAdd('${detail.partner_id}', '${detail.partner_name}');">선택</button></td>
		    	                    `;
		    	                    		    	                    
		    	                    tbody.appendChild(tr);
		    	                });

		    	                //거래처 모달 표시
		    	                const modal = document.getElementById('modalContainerPartner');
		    	                modal.classList.remove('hidden');
		    	                
		    	            } else {
		    	                alert("데이터 응답 실패");
		    	            }
		    	        },
		    	        error: function(xhr, status, error) {
		    	            alert("Ajax 요청 실패");
		    	        }
		    	    });
	    	}

      </script>
      
      <script>
	      //본사 상품 등록
	      function stockAddFirst() {
	    	  const modal = document.getElementById('modalContainerAdd');
	    	  modal.classList.remove('hidden');
	      }
      
	      //본사 상품 등록 (거래처 선택 후)
	      function stockAdd(partner_id, partner_name) {
	    	  const modal1 = document.getElementById('modalContainerPartner');
	    	  modal1.classList.add('hidden');
	    	  
	    	  document.getElementById("product_partner_name").value = partner_name;
      	      document.getElementById("product_partnerid").value = partner_id;
	      }
      </script>
     
      
      <script>
	      //수량 감소
	      function amountMinus(stock_id) {
	    	  const stock_amount = document.getElementById("stock_amount_"+stock_id);
	  		if (stock_amount.value > 1) {
		    	  stock_amount.value--;
			}
	      }
	      
	      //수량 추가
	      function amountPlus(stock_id) {
	    	  const stock_amount = document.getElementById("stock_amount_"+stock_id);
	    	  stock_amount.value++;
	      }
	      
	      //재고 변경
	      function amountUpdate(stock_id) {
	    	  const stock_remain = document.getElementById("stock_amount_"+stock_id).value;
	    	  
	    	    $.ajax({
	    	        url: '/admin/stock/amount',
	    	        method: 'GET',
	    	        data: {stock_id, stock_remain: stock_id, stock_remain},
	    	        success: function(result) {
	    	        	alert("재고가 변경되었습니다.");
	    	        },
	    	        error: function(xhr, status, error) {
	    	            alert("재고 변경 실패");
	    	        }
	    	    });
	      }
      </script>
      
      
     <script>
     		//상품 등록시 유효성 검사
			function check() {
				var idReg = /^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]{4,12}$/;
				const numberRegex = /^\d+$/;
				
				var product_id = document.getElementById("product_id");
				var product_price = document.getElementById("product_price");
				var reid = document.getElementById("reid").value;	
				var product_partner_name = document.getElementById("product_partner_name").value;	
				
				if (product_partner_name == '') {
					alert("거래처를 선택해주세요");
					return false;
				}
				
				if (!numberRegex.test(product_price.value)) {
					alert("상품가격은 숫자만 적어주세요.");
					return false;
				}
		
				if (!idReg.test(product_id.value)) {
					alert("상품코드 형식을 확인하세요.");
					return false;
				}

				if (reid == "false") {
					alert("중복 체크를 하지 않았습니다.");
				    return false;
				}
					
				return true;
			}
			
     		//상품코드 중복체크
			function productCheck(){
     			var product_id = document.getElementById("product_id").value;
				if (product_id == "") {
					alert("아이디를 입력하여 주십시오");
					document.product_add_form.product_id.focus();
					return false;
				} else {
					
		    	    $.ajax({
		    	        url: '/admin/stock/product/check',
		    	        method: 'GET',
		    	        data: {product_id: product_id},
		    	        success: function(result) {
		    	        	if(result == 0) {
		    	        		alert("사용가능한 상품코드입니다.");
		    	        		document.product_add_form.reid.value = "true";
		    	        	} else {
		    	        		alert("이미 사용중인 상품코드입니다.");
		    	        		document.product_add_form.reid.value = "false";
		    	        	}
		    	        },
		    	        error: function(xhr, status, error) {
		    	            alert("중복체크 실패");
		    	        }
		    	    });
				
				}
			}
     		
			//상품 수정 시 유효성 검사
			function upCheck() {
				const numberRegex = /^\d+$/;
				var product_price = document.getElementById("up_product_price");
				
				if (!numberRegex.test(product_price.value)) {
					alert("상품가격은 숫자만 적어주세요.");
					return false;
				}
					
				return true;
			}
	
	</script>
      
      
      
      <script>
	      const modalCloseButtonAdd = document.getElementById('modalCloseButtonAdd');
	      const modalAdd = document.getElementById('modalContainerAdd');
	
	      modalCloseButtonAdd.addEventListener('click', () => {
	    	  document.getElementById("product_add_form").reset();
	    	  modalAdd.classList.add('hidden');
	      });
	      
	      const modalCloseButtonUpdate = document.getElementById('modalCloseButtonUpdate');
	      const modalUpdate = document.getElementById('modalContainerUpdate');
	      
	      modalCloseButtonUpdate.addEventListener('click', () => {
	    	  document.getElementById("product_add_form").reset();
	    	  modalUpdate.classList.add('hidden');
	      });
	      
	      const modalCloseButtonPartner = document.getElementById('modalCloseButtonPartner');
	      const modalPartner = document.getElementById('modalContainerPartner');
	      
	      modalCloseButtonPartner.addEventListener('click', () => {
	    	  modalPartner.classList.add('hidden');
	      });
	      
	       window.addEventListener('click', (event) => {
	           if (event.target === modalAdd) { // 클릭된 요소가 모달 배경인지 확인
	        	   document.getElementById("product_add_form").reset();
	           		modalAdd.classList.add('hidden');
	           } else if (event.target === modalUpdate) {
	           		modalUpdate.classList.add('hidden');
	           } else if (event.target === modalPartner) {
		           	modalUpdate.classList.add('hidden');
	           }
	       });
	      
      </script>
      
      
      
       
      
      <!-- jQuery -->
      <!-- <script src="/js/jquery.min.js"></script>  -->
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/js/animate.js"></script>
      <!-- select country -->
      <script src="/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="/js/Chart.min.js"></script>
      <script src="/js/Chart.bundle.min.js"></script>
      <script src="/js/utils.js"></script>
      <script src="/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/js/chart_custom_style1.js"></script>
      <script src="/js/custom.js"></script>
   </body>
</html>