<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<form id="login" th:action="@{/loginForm}" method="post">
    <input type="text" id="username" name="username" placeholder="username"/> <br/>
    <input type="password" id="password" name="password" placeholder="password"/> <br/>
    <button type="submit">로그인</button>
</form>

<a href="joinForm">회원가입 하기</a>

<!-- <script>
    function submitLoginForm() {
    	
    	 var username = document.getElementById("username").value;
    	    var password = document.getElementById("password").value;

    	    if (!username || !password) {
    	        alert("Username 또는 Password를 입력해주세요.");
    	        return; // 입력값이 없으면 요청 중단
    	    }

    	    var formData = { username: username, password: password };

    	    console.log(formData); // 데이터 확인
    	    alert(`Username: ${username}, Password: ${password}`); // 값 확인

    	    var xhr = new XMLHttpRequest();
    	    xhr.open("POST", "/loginForm", true);
    	    xhr.setRequestHeader("Content-Type", "application/json");
/*     	    xhr.onload = function () {
    	        if (xhr.status === 200) {
    	            alert("로그인 성공");
    	            window.location.href = "/";
    	        } else {
    	            alert("로그인 실패: " + xhr.responseText);
    	        }
    	    }; */
    	    xhr.send(JSON.stringify(formData));
    	    alert(formData); // 값 확인
    	    console.log(formData); // 데이터 확인


    }
</script> -->

</body>
</html>